<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
<body >
  <div class="container">
<div class="jumbotron" style="color:#e5ddb9;font-family:fantasy;font-size:60px;text-align:center;">
  <h1><b>NO PAIN<br>NO GAIN</b</h1>
</div>
<div class="text-center">
  <h2>" <span style="font-family:fantasy">Hexa24</span> Club de l'Ensa Berrechid ",ce club est un cadre éducatif visant développer les connaissances scientifiques de l'élève et l’inciter à améliorer et exprimer ses compétences dans le domaine informatique. Le club a été fondé en Octobre 2018 en coopération avec M. Harizi Driss.</h2>

</div>
</div>
</body>
{% endblock %}
